.about
{
    background-color: text;
    searchbar
    {
        background-color: favorite;
    };
}

.title
{
    font-size: 1.8rem;
    text-align: center;
    color: color($colors, text);
    color: color($colors, text);
};

boby{
	background-color: favorite;
}
